<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/bootswatch/css/bootswatch.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/sweetalert2@9.10.7/sweetalert2.min.css') }}">
    <script src="{{ url_for('static', filename='lib/sweetalert2@9.10.7/sweetalert2.all.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/jquery/jquery-3.4.1.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrapvalidator/js/bootstrapValidator.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}">

    <meta charset="UTF-8">
    <title>TP-FIN-SESSOIN</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">TP-FIN-SESSOIN-HIVER-2020</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    {% block content %}
    {% endblock %}
    {% include 'contrevenant/edit.html' %}
    <hr/>
    <footer id="footer">
        <div class="row">
            <div class="col-lg-12">

            </div>
        </div>

    </footer>
</div>
<script src="{{ url_for('static', filename='js/autocomplete.js') }}"></script>
<script src="{{ url_for('static', filename='js/site.js') }}"></script>
<script src="{{ url_for('static', filename='js/pagination.js') }}"></script>
<script src="{{ url_for('static', filename='lib/bootstrap-4.0.0/dist/js/bootstrap.js') }}"></script>

</body>
</html>