
#footer {
    margin: 5em 0;
}

.hidden {
    display: none;
}

.pagination li:hover {
    cursor: pointer;
}

.help-block {
    color: red;
}

.swal2-confirm.swal2-styled{
    display: inline-block;
    font-weight: 300;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #31b0d5;
    border-color: #2aaacf;
    padding: 0.375rem 0.5rem;
    font-size: 0.9375rem;
    line-height: 1.5;
    border-radius: 0px;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.swal2-cancel.swal2-styled{
    display: inline-block;
    font-weight: 300;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #d32a0e;
    border-color: #c7280e;
    padding: 0.375rem 0.5rem;
    font-size: 0.9375rem;
    line-height: 1.5;
    border-radius: 0px;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.swal2-content {
    font-size: 0.8203125rem;
}

.swal2-title {
    font-size: 1.640625rem;
    margin-bottom: 0.5rem;
    font-weight: 300;
    line-height: 1.2;
}